<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.DrawingMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.Drawing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="draw_name" property="drawName" jdbcType="VARCHAR" />
    <result column="dtime" property="dtime" jdbcType="VARCHAR" />
    <result column="foldername" property="foldername" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, model_id, project_id, user_id, url, draw_name, dtime, foldername, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from drawing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from drawing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing" >
    insert into drawing (id, model_id, project_id, 
      user_id, url, draw_name, 
      dtime, foldername, type
      )
    values (#{id,jdbcType=INTEGER}, #{modelId,jdbcType=INTEGER}, #{projectId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{drawName,jdbcType=VARCHAR}, 
      #{dtime,jdbcType=VARCHAR}, #{foldername,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing" >
    insert into drawing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="drawName != null" >
        draw_name,
      </if>
      <if test="dtime != null" >
        dtime,
      </if>
      <if test="foldername != null" >
        foldername,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="drawName != null" >
        #{drawName,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="foldername != null" >
        #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing" >
    update drawing
    <set >
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="drawName != null" >
        draw_name = #{drawName,jdbcType=VARCHAR},
      </if>
      <if test="dtime != null" >
        dtime = #{dtime,jdbcType=VARCHAR},
      </if>
      <if test="foldername != null" >
        foldername = #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing" >
    update drawing
    set model_id = #{modelId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      draw_name = #{drawName,jdbcType=VARCHAR},
      dtime = #{dtime,jdbcType=VARCHAR},
      foldername = #{foldername,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--查询该项目下的图纸-->
  <select id="getprojectdrawing" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from drawing where  project_id = #{projectId,jdbcType=VARCHAR} and type=0 order by id desc
  </select>
  <!--拖拽图纸批量修改type-->
  <update id="drawingbatchUpdate" parameterType="java.lang.Integer">
    update drawing set type = 1 where id in
    <foreach collection="array" item="id" open="(" separator="," close=")">#{id}</foreach>
  </update>
  <!--修改图纸的名称-->
  <update id="updateDrawingname" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing">
    update drawing
      set  draw_name = #{drawName,jdbcType=VARCHAR}
       where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatedDrawingFolder" parameterType="com.jhbim.bimvr.dao.entity.pojo.Drawing">
    update drawing
      set foldername = #{foldername,jdbcType=VARCHAR}
       where dtime = #{dtime,jdbcType=VARCHAR}
  </update>
</mapper>