<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.DrawingFolderMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.DrawingFolder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="foldername" property="foldername" jdbcType="VARCHAR" />
    <result column="drawing_id" property="drawingId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="dftime" property="dftime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, foldername, drawing_id, user_id, dftime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from drawing_folder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from drawing_folder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.DrawingFolder" >
    insert into drawing_folder (id, foldername, drawing_id, 
      user_id, dftime)
    values (#{id,jdbcType=INTEGER}, #{foldername,jdbcType=VARCHAR}, #{drawingId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{dftime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.DrawingFolder" >
    insert into drawing_folder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="foldername != null" >
        foldername,
      </if>
      <if test="drawingId != null" >
        drawing_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="dftime != null" >
        dftime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="foldername != null" >
        #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="drawingId != null" >
        #{drawingId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="dftime != null" >
        #{dftime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.DrawingFolder" >
    update drawing_folder
    <set >
      <if test="foldername != null" >
        foldername = #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="drawingId != null" >
        drawing_id = #{drawingId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="dftime != null" >
        dftime = #{dftime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhbim.bimvr.dao.entity.pojo.DrawingFolder" >
    update drawing_folder
    set foldername = #{foldername,jdbcType=VARCHAR},
      drawing_id = #{drawingId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      dftime = #{dftime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>