<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.Project" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_model_addr" property="projectModelAddr" jdbcType="VARCHAR" />
    <result column="project_status" property="projectStatus" jdbcType="INTEGER" />
    <result column="project_address" property="projectAddress" jdbcType="VARCHAR" />
    <result column="project_content" property="projectContent" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="completion" property="completion" jdbcType="INTEGER" />
    <result column="rvtaddress" property="rvtaddress" jdbcType="VARCHAR" />
    <result column="priceaddress" property="priceaddress" jdbcType="VARCHAR" />
    <result column="drawingaddress" property="drawingaddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project_name, project_model_addr, project_status, project_address, project_content, 
    create_time, end_time, completion, rvtaddress, priceaddress, drawingaddress
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from project
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from project
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.Project" >
    insert into project (id, project_name, project_model_addr, 
      project_status, project_address, project_content, 
      create_time, end_time, completion, 
      rvtaddress, priceaddress, drawingaddress
      )
    values (#{id,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{projectModelAddr,jdbcType=VARCHAR}, 
      #{projectStatus,jdbcType=INTEGER}, #{projectAddress,jdbcType=VARCHAR}, #{projectContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{completion,jdbcType=INTEGER}, 
      #{rvtaddress,jdbcType=VARCHAR}, #{priceaddress,jdbcType=VARCHAR}, #{drawingaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Project" >
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectName != null" >
        project_name,
      </if>
      <if test="projectModelAddr != null" >
        project_model_addr,
      </if>
      <if test="projectStatus != null" >
        project_status,
      </if>
      <if test="projectAddress != null" >
        project_address,
      </if>
      <if test="projectContent != null" >
        project_content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="completion != null" >
        completion,
      </if>
      <if test="rvtaddress != null" >
        rvtaddress,
      </if>
      <if test="priceaddress != null" >
        priceaddress,
      </if>
      <if test="drawingaddress != null" >
        drawingaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null" >
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectModelAddr != null" >
        #{projectModelAddr,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectAddress != null" >
        #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null" >
        #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completion != null" >
        #{completion,jdbcType=INTEGER},
      </if>
      <if test="rvtaddress != null" >
        #{rvtaddress,jdbcType=VARCHAR},
      </if>
      <if test="priceaddress != null" >
        #{priceaddress,jdbcType=VARCHAR},
      </if>
      <if test="drawingaddress != null" >
        #{drawingaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.Project" >
    update project
    <set >
      <if test="projectName != null" >
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectModelAddr != null" >
        project_model_addr = #{projectModelAddr,jdbcType=VARCHAR},
      </if>
      <if test="projectStatus != null" >
        project_status = #{projectStatus,jdbcType=INTEGER},
      </if>
      <if test="projectAddress != null" >
        project_address = #{projectAddress,jdbcType=VARCHAR},
      </if>
      <if test="projectContent != null" >
        project_content = #{projectContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completion != null" >
        completion = #{completion,jdbcType=INTEGER},
      </if>
      <if test="rvtaddress != null" >
        rvtaddress = #{rvtaddress,jdbcType=VARCHAR},
      </if>
      <if test="priceaddress != null" >
        priceaddress = #{priceaddress,jdbcType=VARCHAR},
      </if>
      <if test="drawingaddress != null" >
        drawingaddress = #{drawingaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhbim.bimvr.dao.entity.pojo.Project" >
    update project
    set project_name = #{projectName,jdbcType=VARCHAR},
      project_model_addr = #{projectModelAddr,jdbcType=VARCHAR},
      project_status = #{projectStatus,jdbcType=INTEGER},
      project_address = #{projectAddress,jdbcType=VARCHAR},
      project_content = #{projectContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      completion = #{completion,jdbcType=INTEGER},
      rvtaddress = #{rvtaddress,jdbcType=VARCHAR},
      priceaddress = #{priceaddress,jdbcType=VARCHAR},
      drawingaddress = #{drawingaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>