<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jhbim.bimvr.dao.mapper.UserMessageMapper" >
  <resultMap id="BaseResultMap" type="com.jhbim.bimvr.dao.entity.pojo.UserMessage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="Hairuser_phone" property="hairuserPhone" jdbcType="VARCHAR" />
    <result column="Closeduser_phone" property="closeduserPhone" jdbcType="VARCHAR" />
    <result column="information" property="information" jdbcType="VARCHAR" />
    <result column="Createtine" property="createtine" jdbcType="TIMESTAMP" />
    <result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="stauts" property="stauts" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, Hairuser_phone, Closeduser_phone, information, Createtine, endtime, type, stauts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_message
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_message
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jhbim.bimvr.dao.entity.pojo.UserMessage" >
    insert into user_message (id, Hairuser_phone, Closeduser_phone, 
      information, Createtine, endtime, 
      type, stauts)
    values (#{id,jdbcType=VARCHAR}, #{hairuserPhone,jdbcType=VARCHAR}, #{closeduserPhone,jdbcType=VARCHAR}, 
      #{information,jdbcType=VARCHAR}, #{createtine,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER}, #{stauts,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.UserMessage" >
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hairuserPhone != null" >
        Hairuser_phone,
      </if>
      <if test="closeduserPhone != null" >
        Closeduser_phone,
      </if>
      <if test="information != null" >
        information,
      </if>
      <if test="createtine != null" >
        Createtine,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="stauts != null" >
        stauts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hairuserPhone != null" >
        #{hairuserPhone,jdbcType=VARCHAR},
      </if>
      <if test="closeduserPhone != null" >
        #{closeduserPhone,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="createtine != null" >
        #{createtine,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="stauts != null" >
        #{stauts,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jhbim.bimvr.dao.entity.pojo.UserMessage" >
    update user_message
    <set >
      <if test="hairuserPhone != null" >
        Hairuser_phone = #{hairuserPhone,jdbcType=VARCHAR},
      </if>
      <if test="closeduserPhone != null" >
        Closeduser_phone = #{closeduserPhone,jdbcType=VARCHAR},
      </if>
      <if test="information != null" >
        information = #{information,jdbcType=VARCHAR},
      </if>
      <if test="createtine != null" >
        Createtine = #{createtine,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="stauts != null" >
        stauts = #{stauts,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jhbim.bimvr.dao.entity.pojo.UserMessage" >
    update user_message
    set Hairuser_phone = #{hairuserPhone,jdbcType=VARCHAR},
      Closeduser_phone = #{closeduserPhone,jdbcType=VARCHAR},
      information = #{information,jdbcType=VARCHAR},
      Createtine = #{createtine,jdbcType=TIMESTAMP},
      endtime = #{endtime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      stauts = #{stauts,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateMessage">
    update user_message
    set stauts = #{stauts,jdbcType=INTEGER}
      where Hairuser_phone = #{hairuserPhone,jdbcType=VARCHAR} and
      Closeduser_phone = #{closeduserPhone,jdbcType=VARCHAR}
  </update>

  <select id="messaheList"  resultMap="BaseResultMap">
    select * from user_message where Hairuser_phone = #{hairuserPhone,jdbcType=VARCHAR} and
      Closeduser_phone = #{closeduserPhone,jdbcType=VARCHAR} and stauts = 0
  </select>
  <select id="unreadcount"  resultType="int">
    select
	IFNULL(COUNT(stauts),0) as unread
		from user_message where Hairuser_phone = #{hairuserPhone,jdbcType=VARCHAR} and
      Closeduser_phone = #{closeduserPhone,jdbcType=VARCHAR} and stauts = 0
  </select>
</mapper>